In [18]:
import pandas as pd
import os
import seaborn as sns

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'Exploratory Data Analysis.ipynb',
 'merged_bus.csv',
 'merged_streetcar.csv',
 'merged_subway.csv',
 'merge_excel.ipynb',
 'test.ipynb']

In [3]:
bus_df = pd.read_csv('merged_bus.csv', encoding='Latin-1')
streetcar_df = pd.read_csv('merged_streetcar.csv', encoding='Latin-1')
subway_df = pd.read_csv('merged_subway.csv', encoding='Latin-1')

In [4]:
bus_df.head()

,Report_date,Route,Time,Day,Location,Incident,Min_delay,Min_gap,Direction,Vehicle,Incident_ID
0,2014-01-01,95,12:23:00 AM,Wednesday,York Mills station,Mechanical,10.0,20.0,E,1734.0,NaN
1,2014-01-01,102,12:55:00 AM,Wednesday,Entire run for route,General Delay,33.0,66.0,b/w,8110.0,NaN
2,2014-01-01,54,1:28:00 AM,Wednesday,lawrence and Warden,Mechanical,10.0,20.0,WB,7478.0,NaN
3,2014-01-01,112,1:30:00 AM,Wednesday,Kipling Station,Emergency Services,18.0,36.0,N,8084.0,NaN
4,2014-01-01,24,1:37:00 AM,Wednesday,VP and Ellesmere,Investigation,10.0,20.0,n,7843.0,NaN

In [14]:
bus_df[bus_df['Incident_ID'].notnull()]

,Report_date,Route,Time,Day,Location,Incident,Min_delay,Min_gap,Direction,Vehicle,Incident_ID
411458,2019-04-01,76,12:27:00 AM,Monday,mimico and lakeshore,Investigation,25.0,50.0,S/B,7949.0,5.0
411459,2019-04-01,135,12:55:00 AM,Monday,MSTN,Mechanical,30.0,60.0,E/B,8448.0,1.0
411460,2019-04-01,87,1:05:00 AM,Monday,MSTN,Utilized Off Route,10.0,20.0,W/B,8937.0,4.0
411461,2019-04-01,64,1:23:00 AM,Monday,MSTN,Utilized Off Route,20.0,40.0,S/B,8948.0,4.0
411462,2019-04-01,320,1:30:00 AM,Monday,Yonge/Dundas,Diversion,243.0,273.0,B/W,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...
416597,2019-04-30,34,8:47:00 PM,Tuesday,Eglinton & Pharmacy,Investigation,7.0,14.0,E/B,8630.0,5.0
416598,2019-04-30,54,8:52:00 PM,Tuesday,Eglinton and Mt.Pleasant,Investigation,14.0,27.0,W/B,8641.0,5.0
416599,2019-04-30,26,9:57:00 PM,Tuesday,St. George Station,Mechanical,13.0,30.0,N/B,1026.0,1.0
416600,2019-04-30,168,10:00:00 PM,Tuesday,Entire Route,General Delay,20.0,30.0,B/W,NaN,8.0
416601,2019-04-30,86,11:08:00 PM,Tuesday,Eglinton at Brimley,Emergency Services,10.0,19.0,W/B,8786.0,6.0

In [22]:
bus_df[~bus_df['Min_delay'].isin()]

TypeError: isin() missing 1 required positional argument: 'values'

In [23]:
bus.loc[]

AttributeError: Can only use .str accessor with string values!

In [16]:
bus_df[bus_df['Incident'].isnull()]

,Report_date,Route,Time,Day,Location,Incident,Min_delay,Min_gap,Direction,Vehicle,Incident_ID
411464,2019-04-01,21,3:54:00 AM,Monday,Kennedy Station,NaN,11.0,22.0,N/B,3400.0,9.0
411465,2019-04-01,68,4:48:00 AM,Monday,Warden & Danforth,NaN,12.0,12.0,N/B,8629.0,9.0
411466,2019-04-01,168,4:50:00 AM,Monday,Avon loop,NaN,10.0,10.0,S/B,1626.0,9.0
411467,2019-04-01,39,4:52:00 AM,Monday,Baldoon and Finch,NaN,19.0,19.0,E/B,3518.0,9.0
411468,2019-04-01,134,4:55:00 AM,Monday,TARC,NaN,18.0,18.0,W/B,9086.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
422036,2019-06-03,60,8:17:00 PM,Monday,Hilda,NaN,9.0,18.0,W/B,3169.0,NaN
423263,2019-06-09,25,8:25:00 AM,Sunday,Pape Station,NaN,22.0,33.0,N/B,8762.0,NaN
426304,2019-06-27,9,8:49:00 AM,Thursday,McCowan Road and Eglinton Ave East,NaN,12.0,29.0,SB,8482.0,NaN
437150,2019-09-07,42,11:38:00 AM,Saturday,McNicoll and Midland,NaN,12.0,29.0,WB,8396.0,NaN
439706,2019-09-26,34,10:15:00 PM,Thursday,Eglinton Station,NaN,6.0,13.0,E/B,8837.0,NaN

In [10]:
bus_df['Min_delay'].dropna()

0         10.0
1         33.0
2         10.0
3         18.0
4         10.0
          ...
474065    10.0
474066    14.0
474067    20.0
474068    20.0
474069    17.0
Name: Min_delay, Length: 473614, dtype: float64

In [11]:
#bus_df.sort_values('Min_delay')
bus_df[bus_df['Min_delay'].isnull()]

,Report_date,Route,Time,Day,Location,Incident,Min_delay,Min_gap,Direction,Vehicle,Incident_ID
2930,2014-01-08,85,11:31:00 PM,Wednesday,Sheppard and Victoria Pk,Utilized Off Route,NaN,0.0,E,1127.0,NaN
4334,2014-01-14,89,6:43:00 AM,Tuesday,Mounnt Dennis Garage,Mechanical,NaN,0.0,n/b,1600.0,NaN
8895,2014-01-29,300,6:22:00 AM,Wednesday,Lansdowne station,Investigation,NaN,NaN,W,7475.0,NaN
10833,2014-02-05,32,5:30:00 AM,Wednesday,keele and Eglinton,Mechanical,NaN,11.0,e,1664.0,NaN
18227,2014-03-02,124,12:35:00 PM,Sunday,Bayview and Lawrence,Mechanical,NaN,0.0,e,1389.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
465751,2020-03-25,939,3:00:00 PM,Wednesday,Route 939,Utilized Off Route,NaN,NaN,BW,NaN,NaN
466418,2020-03-30,41,10:10:00 AM,Monday,Keele and Lawrence,Diversion,NaN,NaN,NaN,9040.0,NaN
468284,2020-04-14,22,7:16:00 PM,Tuesday,Eastern/Coxwell,Investigation,NaN,11.0,N/B,3169.0,NaN
468705,2020-04-17,97,3:00:00 PM,Friday,Yonge/Harley Blvd,Diversion,NaN,30.0,B/W,NaN,NaN
472779,2020-05-19,108,10:56:00 PM,Tuesday,Arleta and Grandravine,Diversion,NaN,15.0,B/W,3367.0,NaN

In [9]:
bus_df.shape

(474070, 11)

In [6]:
bus_df['Min_gap'].isnull().sum()

935

In [7]:
streetcar_df.head()

,Report_date,Route,Time,Day,Location,Incident,Min_delay,Min_gap,Direction,Vehicle,Incident_ID
0,2014-01-02,505,6:31:00 AM,Thursday,Dundas and Roncesvalles,Late Leaving Garage,4.0,8.0,E/B,4018.0,NaN
1,2014-01-02,504,12:43:00 PM,Thursday,King and Shaw,Utilized Off Route,20.0,22.0,E/B,4128.0,NaN
2,2014-01-02,501,2:01:00 PM,Thursday,Kingston road and Bingham,Held By,13.0,19.0,W/B,4016.0,NaN
3,2014-01-02,504,2:22:00 PM,Thursday,King St. and Roncesvalles Ave.,Investigation,7.0,11.0,W/B,4175.0,NaN
4,2014-01-02,504,4:42:00 PM,Thursday,King and Bathurst,Utilized Off Route,3.0,6.0,E/B,4080.0,NaN

In [8]:
subway_df.head()

,Report_date,Time,Day,Station,Code,Min_delay,Min_gap,Bound,Line,Vehicle
0,2014-01-01,12:21:00 AM,Wednesday,VICTORIA PARK STATION,MUPR1,55,60,W,BD,5111
1,2014-01-01,2:06:00 AM,Wednesday,HIGH PARK STATION,SUDP,3,7,W,BD,5001
2,2014-01-01,2:40:00 AM,Wednesday,SHEPPARD STATION,MUNCA,0,0,NaN,YU,0
3,2014-01-01,3:10:00 AM,Wednesday,LANSDOWNE STATION,SUDP,3,8,W,BD,5116
4,2014-01-01,3:20:00 AM,Wednesday,BLOOR STATION,MUSAN,5,10,S,YU,5386