In [135]:
import pandas as pd
import os
import seaborn as sns
import numpy as np
pd.options.display.max_rows = 2000

In [26]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'bus_streetcar_incident_id_april2019.txt',
 'data',
 'data cleaning.py',
 'Exploratory Data Analysis.ipynb',
 'merge_excel.ipynb',
 'README.md',
 'test.ipynb']

In [101]:
bus_df = pd.read_csv('./data/merged_bus.csv', encoding='Latin-1')

In [141]:
subway_df = pd.read_csv('./data/merged_subway.csv', encoding='Latin-1')

In [145]:
streetcar_df = pd.read_csv('./data/merged_streetcar.csv',encoding='Latin-1')

In [47]:
bus_df.isnull().sum()

Report Date         0
Route               0
Time                0
Day                 0
Location          790
Incident          935
Min Delay         456
Min Gap         40695
Direction       10478
Vehicle         69436
 Min Delay     468567
Incident ID    468926
Delay          434270
Gap            434310
dtype: int64

In [48]:
bus_df['Min Gap'].fillna(bus_df['Gap'], inplace=True)

In [49]:
bus_df.isnull().sum()

Report Date         0
Route               0
Time                0
Day                 0
Location          790
Incident          935
Min Delay         456
Min Gap           935
Direction       10478
Vehicle         69436
 Min Delay     468567
Incident ID    468926
Delay          434270
Gap            434310
dtype: int64

In [43]:
bus_df['Min Delay'].value_counts()

10.0     67143
15.0     31238
5.0      30003
8.0      28967
1.0      28730
         ...
835.0        1
812.0        1
768.0        1
830.0        1
749.0        1
Name: Min Delay, Length: 915, dtype: int64

In [46]:
bus_df[bus_df['Report Date'] == '2019-06-27']

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,Min Delay,Incident ID,Delay,Gap
426264,2019-06-27,7,12:15:00 AM,Thursday,Bathurst st and Sheppard Ave W,Mechanical,9.0,NaN,S/B,8326.0,NaN,NaN,9.0,17.0
426265,2019-06-27,57,1:09:00 AM,Thursday,Kennedy Station,Mechanical,16.0,NaN,E/B,8746.0,NaN,NaN,16.0,27.0
426266,2019-06-27,26,1:21:00 AM,Thursday,Dupont at Lansdowne,Mechanical,24.0,NaN,W/B,1361.0,NaN,NaN,24.0,48.0
426267,2019-06-27,320,1:23:00 AM,Thursday,Yonge at Dundas,Diversion,4.0,NaN,B/W,NaN,NaN,NaN,4.0,7.0
426268,2019-06-27,320,3:44:00 AM,Thursday,Yonge At King,Mechanical,4.0,NaN,S/B,8169.0,NaN,NaN,4.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426454,2019-06-27,17,10:10:00 PM,Thursday,Warden / Steeles,Diversion,22.0,NaN,B/W,NaN,NaN,NaN,22.0,62.0
426455,2019-06-27,68,10:17:00 PM,Thursday,Warden and Steeles,Diversion,40.0,NaN,N/B,8808.0,NaN,NaN,40.0,78.0
426456,2019-06-27,14,10:47:00 PM,Thursday,Glencairn at Allen (Glencairn Stn),Investigation,21.0,NaN,W/B,1000.0,NaN,NaN,21.0,42.0
426457,2019-06-27,129,11:10:00 PM,Thursday,Steeles/Mccowan,Mechanical,20.0,NaN,S/B,3507.0,NaN,NaN,20.0,30.0
426458,2019-06-27,22,11:43:00 PM,Thursday,Coxwell / Hanson,Investigation,10.0,NaN,S/B,8518.0,NaN,NaN,10.0,20.0

In [16]:
bus_df[bus_df['Incident'].isnull()]

,Report_date,Route,Time,Day,Location,Incident,Min_delay,Min_gap,Direction,Vehicle,Incident_ID
411464,2019-04-01,21,3:54:00 AM,Monday,Kennedy Station,NaN,11.0,22.0,N/B,3400.0,9.0
411465,2019-04-01,68,4:48:00 AM,Monday,Warden & Danforth,NaN,12.0,12.0,N/B,8629.0,9.0
411466,2019-04-01,168,4:50:00 AM,Monday,Avon loop,NaN,10.0,10.0,S/B,1626.0,9.0
411467,2019-04-01,39,4:52:00 AM,Monday,Baldoon and Finch,NaN,19.0,19.0,E/B,3518.0,9.0
411468,2019-04-01,134,4:55:00 AM,Monday,TARC,NaN,18.0,18.0,W/B,9086.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
422036,2019-06-03,60,8:17:00 PM,Monday,Hilda,NaN,9.0,18.0,W/B,3169.0,NaN
423263,2019-06-09,25,8:25:00 AM,Sunday,Pape Station,NaN,22.0,33.0,N/B,8762.0,NaN
426304,2019-06-27,9,8:49:00 AM,Thursday,McCowan Road and Eglinton Ave East,NaN,12.0,29.0,SB,8482.0,NaN
437150,2019-09-07,42,11:38:00 AM,Saturday,McNicoll and Midland,NaN,12.0,29.0,WB,8396.0,NaN
439706,2019-09-26,34,10:15:00 PM,Thursday,Eglinton Station,NaN,6.0,13.0,E/B,8837.0,NaN

In [10]:
bus_df['Min_delay'].dropna()

0         10.0
1         33.0
2         10.0
3         18.0
4         10.0
          ...
474065    10.0
474066    14.0
474067    20.0
474068    20.0
474069    17.0
Name: Min_delay, Length: 473614, dtype: float64

In [11]:
#bus_df.sort_values('Min_delay')
bus_df[bus_df['Min_delay'].isnull()]

,Report_date,Route,Time,Day,Location,Incident,Min_delay,Min_gap,Direction,Vehicle,Incident_ID
2930,2014-01-08,85,11:31:00 PM,Wednesday,Sheppard and Victoria Pk,Utilized Off Route,NaN,0.0,E,1127.0,NaN
4334,2014-01-14,89,6:43:00 AM,Tuesday,Mounnt Dennis Garage,Mechanical,NaN,0.0,n/b,1600.0,NaN
8895,2014-01-29,300,6:22:00 AM,Wednesday,Lansdowne station,Investigation,NaN,NaN,W,7475.0,NaN
10833,2014-02-05,32,5:30:00 AM,Wednesday,keele and Eglinton,Mechanical,NaN,11.0,e,1664.0,NaN
18227,2014-03-02,124,12:35:00 PM,Sunday,Bayview and Lawrence,Mechanical,NaN,0.0,e,1389.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
465751,2020-03-25,939,3:00:00 PM,Wednesday,Route 939,Utilized Off Route,NaN,NaN,BW,NaN,NaN
466418,2020-03-30,41,10:10:00 AM,Monday,Keele and Lawrence,Diversion,NaN,NaN,NaN,9040.0,NaN
468284,2020-04-14,22,7:16:00 PM,Tuesday,Eastern/Coxwell,Investigation,NaN,11.0,N/B,3169.0,NaN
468705,2020-04-17,97,3:00:00 PM,Friday,Yonge/Harley Blvd,Diversion,NaN,30.0,B/W,NaN,NaN
472779,2020-05-19,108,10:56:00 PM,Tuesday,Arleta and Grandravine,Diversion,NaN,15.0,B/W,3367.0,NaN

In [9]:
bus_df.shape

(474070, 11)

In [6]:
bus_df['Min_gap'].isnull().sum()

935

In [7]:
streetcar_df.head()

,Report_date,Route,Time,Day,Location,Incident,Min_delay,Min_gap,Direction,Vehicle,Incident_ID
0,2014-01-02,505,6:31:00 AM,Thursday,Dundas and Roncesvalles,Late Leaving Garage,4.0,8.0,E/B,4018.0,NaN
1,2014-01-02,504,12:43:00 PM,Thursday,King and Shaw,Utilized Off Route,20.0,22.0,E/B,4128.0,NaN
2,2014-01-02,501,2:01:00 PM,Thursday,Kingston road and Bingham,Held By,13.0,19.0,W/B,4016.0,NaN
3,2014-01-02,504,2:22:00 PM,Thursday,King St. and Roncesvalles Ave.,Investigation,7.0,11.0,W/B,4175.0,NaN
4,2014-01-02,504,4:42:00 PM,Thursday,King and Bathurst,Utilized Off Route,3.0,6.0,E/B,4080.0,NaN

In [8]:
subway_df.head()

,Report_date,Time,Day,Station,Code,Min_delay,Min_gap,Bound,Line,Vehicle
0,2014-01-01,12:21:00 AM,Wednesday,VICTORIA PARK STATION,MUPR1,55,60,W,BD,5111
1,2014-01-01,2:06:00 AM,Wednesday,HIGH PARK STATION,SUDP,3,7,W,BD,5001
2,2014-01-01,2:40:00 AM,Wednesday,SHEPPARD STATION,MUNCA,0,0,NaN,YU,0
3,2014-01-01,3:10:00 AM,Wednesday,LANSDOWNE STATION,SUDP,3,8,W,BD,5116
4,2014-01-01,3:20:00 AM,Wednesday,BLOOR STATION,MUSAN,5,10,S,YU,5386

In [81]:
bus_df[~(bus_df['Route'] >= 700) & (bus_df['Route'] <900)]

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,Min Delay,Incident ID,Delay,Gap
25,2014-01-01,809,5:40:00 AM,Wednesday,60 Clearview hights at Trethewey,Utilized Off Route,1.0,1.0,BW,1593.0,NaN,NaN,NaN,NaN
26,2014-01-01,809,5:40:00 AM,Wednesday,60 Clearview hights at Trethewey,Utilized Off Route,1.0,1.0,BW,1591.0,NaN,NaN,NaN,NaN
82,2014-01-01,809,12:12:00 PM,Wednesday,Mt. Dennis Division,Utilized Off Route,1.0,1.0,BW,1050.0,NaN,NaN,NaN,NaN
374,2014-01-02,757,10:52:00 AM,Thursday,Malvern Garage,Utilized Off Route,1.0,1.0,NaN,7101.0,NaN,NaN,NaN,NaN
439,2014-01-02,756,2:52:00 PM,Thursday,Birchmount Garage,Mechanical,0.0,0.0,n/s,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472584,2020-05-17,701,6:35:00 PM,Sunday,Eglinton Station,Utilized Off Route,1.0,1.0,E/B,8101.0,NaN,NaN,1.0,1.0
473023,2020-05-22,700,11:25:00 AM,Friday,Humberline Drive,Mechanical,1.0,1.0,E/B,3637.0,NaN,NaN,1.0,1.0
473184,2020-05-23,700,7:35:00 PM,Saturday,Lawrence Station,Utilized Off Route,1.0,1.0,E/B,8173.0,NaN,NaN,1.0,1.0
473461,2020-05-26,720,10:30:00 AM,Tuesday,Eglinton Yard,Investigation,1.0,1.0,NaN,8836.0,NaN,NaN,1.0,1.0
474056,2020-05-31,700,7:25:00 PM,Sunday,Lawrence Station,Utilized Off Route,1.0,1.0,W/B,1231.0,NaN,NaN,1.0,1.0

In [84]:
bus_df = bus_df[~(bus_df['Route'] >= 700) & (bus_df['Route'] <900)]

In [86]:
bus_df.Route.value_counts()

29     13764
52     11954
32     11382
36     10307
54     10199
       ...
468        1
471        1
474        1
685        1
536        1
Name: Route, Length: 311, dtype: int64

In [83]:
bus_df[bus_df['Route'] == 641]

Empty DataFrame
Columns: [Report Date, Route, Time, Day, Location, Incident, Min Delay, Min Gap, Direction, Vehicle,  Min Delay, Incident ID, Delay, Gap]
Index: []

In [147]:
#df = subway_df.Direction.replace(to_replace='^[^B|N|S|E|W].*()', value=np.nan, regex=True)
streetcar_df.Direction.value_counts()

W/B                            32313
E/B                            31399
N/B                             6002
S/B                             5786
B/W                             5318
eb                               176
EB                               142
WB                               114
wb                               108
sb                                27
nb                                20
NB                                18
SB                                18
bw                                18
EW                                12
eastbound                          8
w/b                                8
w                                  7
5                                  6
E                                  5
ew                                 5
BW                                 5
W                                  4
10                                 3
Service adjusted.                  3
b/w                                3
s                                  3
8                                  3
e/b                                3
9                                  3
2                                  3
e                                  2
Eb                                 2
w/B                                2
6                                  2
Bw                                 2
30                                 2
4                                  2
r                                  2
E/W                                2
26                                 2
westbound                          2
3                                  2
Service adjusted                   2
4075                               1
btw                                1
18                                 1
s/n                                1
0                                  1
14                                 1
eb``                               1
20                                 1
(Ref                               1
\5                                 1
510                                1
12                                 1
1573                               1
ee                                 1
`                                  1
wruiter adv                        1
N/S                                1
EB/WB                              1
5                       W/B        1
7                                  1
NBN                                1
.                                  1
s/b                                1
15                                 1
run                                1
506                                1
e/w                                1
54495                              1
19                                 1
512                                1
we                                 1
WN                                 1
e/B                                1
W\B                                1
E/B W/B                            1
-                                  1
w.b                                1
31087                              1
ss                                 1
S-E                                1
gap                                1
N                                  1
Relief Operator. Ga                1
W`                                 1
-BD#                               1
1114                               1
68029                              1
southbound                         1
b#                                 1
13                                 1
\                                  1
See also                           1
sw                                 1
bs                                 1
E5                                 1
northbound                         1
n/b                                1
33                                 1
Name: Direction, dtype: int64